<div class="flex-none flex-ns h-100">
  <div class="w-20rem-ns bg-near-white pv3 ph4 h-100-ns">
    <h1>ember-cli-brutalist</h1>

    <p>
      I re-built the parts I liked of Semantic UI with Tachyons and Ember.
    </p>

    <h2>Author's Notes</h2>
    <h2>Tachyons</h2>
    colors, typogrpahy, spacing,
    <h2>Atoms</h2>
    buttons, links,
    <h2>Molecules</h2>
    Forms
  </div>

  <div class="pv3 ph4">
    {{outlet}}
  </div>
</div>

