<h2>Author's Notes</h2>

Ember provides powerful abstractions the make building abitious web applications possible at lightning speeds. The problem I always run into is for prototyping I always have to introduce so many addons to acheive the minimal set of components I need.

Specific Goals:

<ul>
  <li>Be a prototyping-focused design system</li>
  <li>Embrace/extend design principles of Tachyons</li>
  <li>Provide a zero-config expeiernce with easy escape hatches</li>
</ul>

\{{#brutal-button}}\{{/brutal-button}}
{{#brutal-button}}
  yarp
{{/brutal-button}}
